#profile-container {
    max-width: 700px;
    margin: 20px auto, 0;
    padding: 0 20px;
}

#profile-container h1 {
    margin-top: 100px;
    color: rgb(63, 6, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-container form input {
    width: 400px;
    font-size: 16px;
    display: flex;
    background: #fff;
    border: 1px, solid rgb(236, 145, 217);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid rgb(236, 145, 217);
    background: none;
    margin-top: 10px;
    color: rgb(63, 6, 49);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: rgb(63, 6, 49);
    color: #fff;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}